{
    "extends": "loopback",
    "parserOptions": {
      "ecmaVersion": 8
    },
    "env": {
      "es6": true,
      "node": true
    },
    "rules": {
      "no-trailing-spaces": "off",
      "max-len": "off",
      "switch-colon-spacing": 0,
      "new-cap": 0
    }
  }