extends ../layout

block content
  section.content-header
    h1
      | #{tableName}
    ol.breadcrumb
      li
        a(href='/')
          i.fa.fa-dashboard
          | Dashboard
      li Deposit
      li.active Deposit deleted

  // Main content
  section.content
      .row
        .box
          .box-header.with-border
            h3.box-title Deposit deleted
          .box-body
            a.btn.btn-primary.action-delete(type="button", href="/deposits/") Return to list
